.pie-chart figcaption {
    font-size: 14px;
    text-align: center;
    height: 71.5px;
    align-content: center;
    font-weight: 600;
    font-size: 14px;
}
#pie-chart-1 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#04a08b 0, #04a08b 100%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}
#pie-chart-2 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#00baff 0, #00baff 25%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}
#pie-chart-3 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#ff562f 0, #ff562f 65%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}
#pie-chart-4 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#ff9920 0, #ff9920 70%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}
#pie-chart-5 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#0052cc 0, #0052cc 75%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}
#pie-chart-6 {
    background: radial-gradient(circle closest-side, white 0, white 76%, transparent 80%, transparent 95%, white 100%), conic-gradient(#172b4c 0, #172b4c 25%, #dedede 0, #dedede 100%);
    position: relative;
    width: 71.5px;
    min-height: 71.5px;
    margin: 0;
}




.news-slider{
    display: grid !important;
}
.news-slider .owl-stage-outer{
    order: 2;
}
.news-slider .owl-nav{
    order: 1;
    position: absolute;
    top: -28px;
    right: 0px;
}
.rtl .news-slider .owl-nav{
    order: 1;
    position: absolute;
    top: -28px;
    right: auto;
    left: 0;
}
.news-slider .owl-nav .owl-prev,
.news-slider .owl-nav .owl-next{
    display: inline-block !important;
    font-size: 24px;
    line-height: 24px;
    background: #6e63e6;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 0.8;
    margin-left: 5px;
}
.news-slider .owl-nav .owl-prev:hover,
.news-slider .owl-nav .owl-next:hover{
    opacity: 1;
}



.news-slider .circle {
  position: relative;
  width: 80px;
  height: 80px;
}

.news-slider svg {
  width: 80px;
  height: 80px;
  transform: rotate(-90deg);
}

.news-slider circle {
  fill: none;
  stroke-width: 6;
  stroke: #233;
}

.news-slider .progress-chart-ring {
  stroke: #00e676;
  stroke-dasharray: 180; /* 2πr = 2 * 3.14 * 36 */
  stroke-dashoffset: calc(180 - (180 * 43 / 180)); /* 43 minutes left of 240 total */
  transition: stroke-dashoffset 0.5s;
}
.news-slider .progress-chart-ring-2 {
  stroke: #00e676;
  stroke-dasharray: 180; /* 2πr = 2 * 3.14 * 36 */
  stroke-dashoffset: calc(180 - (180 * 83 / 180)); /* 43 minutes left of 240 total */
  transition: stroke-dashoffset 0.5s;
}

.news-slider .time-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
}

.news-slider .minutes {
  font-size: 20px;
  font-weight: 600;
}

.news-slider .label {
  font-size: 11px;
  opacity: 0.8;
  color: ;
}

#chart-container{
  height: 316px
}
#revenue5{
    height: 323.7px !important;
}